<!DOCTYPE html>
<html lang="en">
  {{template "head.html" "Probably a good bot"}}
  <body>
    {{template "navbar.html"}}
    <main>
      <div class="container py-4">
        <div class="p-5 mb-4">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Eliza</h1>
            <p class="col-md-8 fs-4">
              Bringing voice-controlled music playback on Discord.<br>
              <a href="https://discord.com/oauth2/authorize?client_id=706855160453791784&scope=bot%20applications.commands&permissions=274914733057">Take your Discord server to the next level.</a>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>