#jumbotron__content-inner {
  height: fit-content;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#discord-pill {
  display: inline-block;
  padding: 0.1875rem 0.625rem;
  border-radius: 5rem;
  vertical-align: middle;
  transform: translateY(-0.2ch);
  font-size: 1.5rem;
  text-decoration: none;
  background: #5865f2;
  color: var(--secondary-background-color);
}

#discord-pill:hover {
  filter: none;
}

#features {
  display: flex;
  flex-direction: column;
}

.features__row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feature-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.feature-text {
  width: 100%;
}

.feature-heading {
  margin: 0 0 0.5rem;
}

.highlight {
  color: var(--tertiary-text-color);
}

.feature-description {
  margin: 0;
  font-size: smaller;
}

.feature-illustration {
  width: 100%;
  margin-top: 1.5rem;
}

#never-lose-focus > .feature-illustration {
  display: flex;
  align-items: flex-end;
}

#non-stop-listening, #volume-control {
  flex-direction: row;
}

#non-stop-listening > .feature-illustration {
  width: fit-content;
  margin-top: 0;
  margin-left: 1.5rem;
}

#volume-control > .feature-illustration {
  width: fit-content;
  display: flex;
  margin-top: 0;
  margin-left: 1.5rem;
}

#discord-mockup {
  width: fit-content;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius);
  background: #2f3136;
}

#discord-mockup__channel {
  width: 6rem;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background: #3c3f44;
}

#discord-mockup__channel__icon {
  width: 1.125rem;
}

#discord-mockup__channel__name {
  margin: 0 0 0 0.25rem;
  font-weight: normal;
  color: #e2e2e3;
}

#discord-mockup__channel-members {
  padding-left: 1.5rem;
  margin: 0;
  list-style: none;
}

.discord-mockup__channel-member {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin-top: 0.125rem;
  border-radius: 0.5rem;
  font-size: small;
  color: #696a6a;
}

.discord-mockup__channel-member:hover {
  color: #e2e2e3;
  background: #3c3f44;
}

.discord-mockup__channel-member.speaking {
  color: #e2e2e3;
}

.discord-mockup__channel-member__avatar {
  width: 1.25rem;
  margin-right: 0.375rem;
  border-radius: 50%;
}

.discord-mockup__channel-member.speaking > .discord-mockup__channel-member__avatar {
  outline: 0.075rem solid #57f287;
  outline-offset: -0.075rem;
}

#speech-bubbles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0 0 0 -1.5rem;
  list-style: none;
  font-size: 0.75rem;
}

.speech-bubble {
  width: fit-content;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  color: var(--secondary-background-color);
  background: var(--primary-text-color);
  transition: scale 400ms ease-out;
}

.speech-bubble:nth-child(1) {
  opacity: 0.6;
}

.speech-bubble:nth-child(2) {
  opacity: 0.8;
}

.speech-bubble:hover {
  scale: 0.96;
}

#twenty-four-slash-seven {
  width: fit-content;
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
  background: var(--primary-text-color);
  transition: transform 400ms ease-out;
}

#twenty-four-slash-seven:hover {
  transform: rotate(-6.9deg);
}

#twenty-four-slash-seven__text {
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: var(--secondary-background-color);
}

#audio-waves {
  height: 4.25rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--primary-text-color);
}

.audio-wave {
  height: 3rem;
  padding: 0.125rem 0.25rem;
  margin-right: 0.375rem;
  border-radius: 0.25rem;
  background: var(--secondary-background-color);
  transition: height 500ms ease-out;
}

.audio-wave:nth-child(1) {
  height: 1rem;
  margin-left: 0.5rem;
}

.audio-wave:nth-child(3) {
  height: 1.5rem;
}

.audio-wave:nth-child(4) {
  height: 2.5rem;
  margin-right: 0.5rem;
}

#audio-waves:hover > .audio-wave:nth-child(1) {
  height: 2.5rem;
}

#audio-waves:hover > .audio-wave:nth-child(2) {
  height: 1.5rem;
}

#audio-waves:hover > .audio-wave:nth-child(3) {
  height: 3rem;
}

#audio-waves:hover > .audio-wave:nth-child(4) {
  height: 1rem;
}

#audio-mixer {
  width: 4.25rem;
  height: 4.25rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  background: var(--primary-text-color);
}

#audio-mixer:hover .audio-mixer__dial {
  transform: rotate(69deg);
}

.audio-mixer__dial {
  width: calc(50% - 1.25rem);
  height: calc(50% - 1.25rem);
  margin: 0.5rem;
  border: 0.125rem dotted var(--primary-text-color);
  border-radius: 50%;
  background: var(--secondary-background-color);
  transition: transform 400ms ease-out;
}

footer {
  margin-top: 0 !important;
}

@media (min-width: 720px) {
  #discord-pill {
    padding: 0.25rem 1rem;
    font-size: 2.125rem;
  }

  .feature-container {
    flex-direction: row;
  }

  .feature-text {
    flex: 1;
  }

  .feature-illustration {
    max-width: fit-content;
    float: right;
    flex: 1;
    margin: 0 0 0 1.5rem;
  }
}

@media (min-width: 1040px) {
  #discord-pill {
    padding: 0.3rem 1rem;
    font-size: 2.5rem;
  }

  #features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__row {
    flex-direction: row;
  }
}